@import url(fonts.css);
@import url(variables.css);
@import url(top-bar.css);
@import url(header.css);
@import url(landing.css);
@import url(courses-wrapper.css);
@import url(aboutus.css);
@import url(popular.css);
@import url(presell.css);
@import url(footer.css);
@import url(deault.css);
@import url(helpers.css);





.header {
  position: relative;
}
#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  z-index: -5;
}
.main-header_search-btn{
  background-color: transparent;
}