/* Start Top-Bar styles */

.top-bar {
  width: 100%;
  padding: 0.5rem 0;
  background-color: #f0f2f7;
  color: var(--dark-color);
}
.top-bar__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
}
.top-bar__right {
  display: flex;
}
.top-bar__menu {
  display: flex;
}
.top-bar__link {
  color: var(--dark-color);
  padding: 0 1rem;
  font-size: 1.5rem;
}
.top-bar__left {
  display: flex;
}
.top-bar__email,
.top-bar__phone {
  display: flex;
  align-items: center;
  padding: 0 0.8rem;
}
.top-bar__email-text,
.top-bar__phone-text {
  color: var(--dark-color);
  padding: 0 0.8rem;
}
.top-bar__email-icon,
.top-bar__phone-icon {
  color: var(--primary-color);
  font-size: 2rem;
}
/* Finish Top-Bar styles */
